<dom-module id="test-component-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --test-component; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.select-container {
  margin: 2rem;
  width: 20rem; }

</style></template></dom-module>