<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-select/cells-select.html">
<link rel="import" href="test-component-styles.html">
<dom-module id="test-component">
  <template>
    <style include="test-component-styles"></style>
    <div class="container">
      <div>
        avatar
      </div>
      <div>texto</div>
      <div class="select-container">
          <cells-select label="City" selected="{{selected}}" value="{{value}}">
              <template is="dom-repeat"items='["Madrid", "Bilbao", "Barcelona", "Logroño"]'>
                <div>[[item]]</div>
              </template>
            </cells-select>
      </div>
    </div>
  </template>
  <script src="test-component.js"></script>
</dom-module>